container_commands:
    01_copy_env_file:
        command: ln -s /opt/elasticbeanstalk/deployment/laravel_env .env

    02_config_cache:
        command: php artisan config:clear
        ignoreErrors: true

    03_cache_clear:
        command: php artisan cache:clear
        leader_only: true
        ignoreErrors: true

    04_run_migrations:
        command: php artisan migrate --force
        leader_only: true
        ignoreErrors: true

    10_deploy_hook_permissions:
        command: |
            sudo find .platform/ -type f -iname "*.sh" -exec chmod -R 755 {} \;
            sudo find /var/app/staging/.platform/ -type f -iname "*.sh" -exec chmod -R 755 {} \;

#    05_chmod1:
#        command: sudo chmod +x .platform/hooks/postdeploy/01_worker.sh

files:
    /opt/elasticbeanstalk/tasks/taillogs.d/laravel-logs.conf:
        content: /var/app/current/storage/logs/laravel.log
        group: root
        mode: "000644"
        owner: root
    /etc/systemd/system/laravel_queue_worker@.service:
        mode: "000644"
        owner: root
        group: root
        content: |
            [Unit]
            Description=Laravel queue worker

            [Service]
            User=webapp
            Group=webapp
            Restart=always
            EnvironmentFile=/opt/elasticbeanstalk/deployment/laravel_env
            ExecStart=/usr/bin/nohup /usr/bin/php /var/app/current/artisan queue:work --queue=critical,high,low,default --sleep=3

            [Install]
            WantedBy=multi-user.target

commands:
    remove_service_bak_file:
        command: "rm -f /etc/systemd/system/laravel_queue_worker@.service.bak"
